
body{
  flex-direction:column ;
}
.grid {
  margin: auto;
  position: center;
  flex-wrap: wrap;
  width: 400px;
  height: 300px;
}

p{
  font-family: Arial;
  position: center;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}


.iconehead{
  background-color: blueviolet;
  text-align: center;
  border-radius: 10px;
}

.joguinhosDaAna{
  color: chartreuse;
  text-decoration:none;
  font-size: 50px;
  font-style: unset;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.position{
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: auto;
}

button {
  all: initial; 
}

.img{
  position: relative;
  width: 100px;
  height: 100px;
}

img {
  width: 100px;
  height: 100px;
} 
.items-menu{
  display: inline-flex;
  flex-direction: row;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(199, 255, 199);
  padding: 0;
  justify-content: center;
  margin: auto;
  width: 95%;
  margin: 30px 30px 30px 30px;

}
