<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jogos</title>
  <link rel="stylesheet" href="..\style\jogos.css"></link>
  <script src="..\scripts\jogoDaMemoria.js" charset="utf-8"></script>
  <script src="..\scripts/menu.js"></script>

  <marquee behavior="scroll" direction="right"  class="iconehead">
    <button class="joguinhosDaAna" href="menu.html">Joguinhos da Ana</button>
  </marquee>
</head>
<body>
  <div class="jogoDaMemoria">
    <p>Score:<span id="result"></span></p>
  <div class="grid">
  </div>
</div>
</body>
</html>


