<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jogos</title>
  <link rel="stylesheet" href="..\style\jogos.css"></link>
  <script src="..\scripts\jogoDaMemoria.js" charset="utf-8"></script>

  <marquee behavior="scroll" direction="right"  class="iconehead">
    <a class="joguinhosDaAna" href="file:///C:/Users/ana.281004/trabalho-pw-jogos/trabalho-pw-jogos/menu.html">Joguinhos da Ana</a
></marquee>

</head>
<body>
<div class="jogoDaMemoria">
  
  <p>Score:<span id="result"></span></p>
  <div class="grid">
  </div>
</div>
</body>
</html>


